#logcard {
    text-align: center;
    width: 35rem;
}

.card {
    margin-top: 10rem;
}

.card .card-content .card-title {
    font-weight: 500;
    color: grey !important;
}

#login {
    text-align: center;
    justify-content: center;
}
